
<!-- About Start -->
<link rel="import" href="/bower_components/paper-carousel/paper-carousel.html">
<section id="{{ page.section-type }}" class="container content-section text-center">

<h2>Engagement Photos</h2>

  <div class="col-md-10 col-md-offset-1">
    <paper-carousel items="1" dotText="false">
      {% for pic in site.pics %}
        <img src={{pic}} draggable="false"/>
      {% endfor %}
    </paper-carousel>
    <p>Thanks to Hannah for these fantastic photos.  <a href="http://www.hannahmalloyphoto.com/">Check out her site!</a></p>
  </div>
</section>

<!-- About End -->
