
<!-- Registry Start -->
<div class="alt-bg-color">
  <section id="{{ page.section-type }}" class="container content-section text-center">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">

        <p>Choose a gift from one of our registries, or help us with things like furnishing our house, reaching our honeymoon and picking up whatever goodies we forgot to add to our registry by donating.</p>

        <p>For now, if you want to donate, please reach out to Allyson or Nick.  Registry at Target:</p>

        <div class="col-md-4 col-md-offset-4"><a href="http://www.target.com/gift-registry/registry/f1979dade0514c3dab00d1c1808164f1"><img id='target-logo' src="img/target.png"></img></a></div>
      </div>
    </div>
  </section>
</div>

<!-- Registry End -->
